{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}
{% block user_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block content %}

{% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}

<p>{% blocktrans with confirmation.email_address.email as email %}请点击此链接来确认您的邮箱<a href="mailto:{{ email }}">{{ email }}</a> 是您本人在使用 {{ user_display }}.{% endblocktrans %}</p>

<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
{% csrf_token %}
    <button class="btn btn-info btn-sm rounded-0" type="submit">{% trans 'Confirm' %}</button>
</form>

{% else %}

{% url 'account_email' as email_url %}

<p>{% blocktrans %}如果该链接已失效,请点击 <a href="{{ email_url }}">发送新的确认邮件</a>.{% endblocktrans %}</p>

{% endif %}

{% endblock %}
