{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}
{% block user_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}

{% url 'account_email' as email_url %}

<p>{% blocktrans %}我们需要去验证此邮箱是你自己在使用。为此目的，我们要求你验证您的邮箱。{% endblocktrans %}</p>

<p>{% blocktrans %}我们已发送了一封邮件至你你的邮箱。请点击邮件内链接。如果您在几分钟内没有收到，请联系我们。{% endblocktrans %}</p>

<p>{% blocktrans %}<strong>注意:</strong> 你可以 <a href="{{ email_url }}">更改邮箱</a>.{% endblocktrans %}</p>


{% endblock %}
